@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik Moonrocks", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.bg {
  background: no-repeat center/cover
    url("https://wallpaperaccess.com/full/172079.jpg");
  /* https://wallpaperaccess.com/full/172079.jpg */
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.loading-text {
  color: #e1d6b8;
  font-size: 100px;
}
