@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Sniglet', cursive;
    display: flex;
  flex-wrap: wrap;
  background: url(img/cork.png);
  padding-top: 3rem;

}
.add{
    position: fixed;
    top: 10px;
    right:  10px;
    background-color: rgb(225, 65, 65);
    color: #fff;
    border: none;
    padding: 0.4rem 19.2px;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
   box-shadow: rgba(0, 0, 0, 0.5) 6px 6px 9px ;
}
.note{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 7px ;
    border-radius: 5px;
    margin: 30px 20px;
    width: 400px;
    height: 400px;
}

.note .tools{
    background-color:rgb(225, 65, 65) ;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;

}

.note img{
    position: absolute;
    width: 35px;
   padding: 5px;
}
.note .tools button{
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}
.note textarea{
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-family: inherit;
    height: 400px;
    width: 100%;
    padding: 20px;
}
.hidden{
    display: none;
}