@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", sans-serif;
  background-color: #a2d2ff;
  color: white;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 50px;
  text-align: center;
}
.counter {
  font-size: 60px;
  letter-spacing: 10px;
  margin-top: 10px;
}
span {
  letter-spacing: 3px;
}
@media (max-width: 1400px) {
  .container {
    flex-direction: column;
    height: auto;
  }
}
