*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
img{
    height: 350px;
    width: 600px;
   
}
.carousel{
    height: 380px;
    width: 600px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 8px;
    border: 3px solid darkred;
    border-radius: 5px 5px 0 0 ;
    border-bottom: none;
}
.image-container{
    display: flex;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
}
.buttons-container{
    display: flex;
    justify-content: space-between;
}
button{
    border: none;
    padding: 0.5rem;
    width: 49.5%;
    background-color: darkred;
color: white;
font-size: 15px;
cursor: pointer;
}

button:hover{
    opacity: 0.8;
}
button:focus{
    outline: none;
}