@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(110deg, #e6d1f5, #ab8fff);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.btn {
  font-weight: bold;
  background-color: #bbd0ff;
  border: none;
  font-family: inherit;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  margin: 16px;
  padding: 1.5rem 3rem;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
.btn:focus {
  outline: none;
}
